/*Mise en forme et en couleur du titre*/
h1{
    color: green !important;
    text-align: left !important;

}


 /*Mise à l'échelle du tableau*/
div[data-testid="stDataFrame"] {
    width: 300% !important;
}

h1 {
    color: #228B22;
}

section[data-testid="stSidebar"] {
    border-right: 1px solid #228B22;
}
